* {
	padding: 0;
	margin: 0;
}

.registerForm {
	width: 400px;
	height: 450px;
	border: 1px solid cyan;
	margin: 100px auto;
	position: relative;
}

.registerForm .area-title {
	width: 330px;
	height: 18px;
	position: absolute;
	left: 38px;
	top: 55px;
	overflow: hidden;
}

.registerForm .area-title .ipp-login {
	float: left;
	color: #660000;
	font-weight: bold;
}

.registerForm .area-title .ipt-login {
	float: right;
}

.registerForm .area-title .ipt-login .target-up {
	text-decoration: none;
	color: #ff4965;
}

.registerForm .ipt-group {
	border: 1px solid #e6e6e6;
	position: absolute;
	left: 38px;
	top: 100px;
	width: 328px;
	height: 30px;
}

.registerForm .ipt-group .bg1 {
	background: url(../img/register/register1.jpg) no-repeat;
	width: 22px;
	height: 13px;
	position: absolute;
	left: 9px;
	top: 8px;
}

.registerForm .ipt-group .bg2 {
	width: 1px;
	height: 13px;
	position: absolute;
	left: 33px;
	top: 8px;
	background: gray;
}

.registerForm .ipt-group .J_iptUsername {
	width: 285px;
	height: 30px;
	border: none;
	float: right;
	font-size: 12px;
}

.registerForm .ipt-group1 {
	color: red;
	font-size: 8px;
	position: absolute;
	left: 45px;
	top: 133px;
	width: 328px;
	height: 30px;
	display: none;
}

.ipt-group2 {
	color: red;
	font-size: 8px;
	position: absolute;
	left: 45px;
	top: 231px;
	width: 328px;
	height: 30px;
	display:none;
}

.ipt-group3 {
	color: red;
	font-size: 8px;
	position: absolute;
	left: 45px;
	top: 276px;
	width: 328px;
	height: 30px;
	display:none;
}

.registerForm .ipt-group p {
	padding-left: 5px;
}

.registerForm .iptt-group {
	background: #e8e8e8;
	width: 330px;
	height: 34px;
	position: absolute;
	left: 38px;
	top: 148px;
}

.registerForm .iptt-group .ln {
	z-index: 1;
	width: 40px;
	height: 33px;
	background: #fff;
	border: 1px solid #ccc;
	line-height: 33px;
	text-align: center;
	position: absolute;
}

.registerForm .iptt-group .J_singleNotice {
	z-index: 0;
	color: #9c9c9c;
	position: absolute;
	left: 90px;
	top: 10px;
}

.registerForm .ippt-group {
	width: 330px;
	height: 32px;
	position: absolute;
	left: 38px;
	top: 197px;
	overflow: hidden;
}

.ippt-group .dxjym {
	width: 200px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #e6e6e6;
}

.ippt-group .dxjym .bg3 {
	background: url(../img/register/register1.jpg) 0px -32px no-repeat;
	width: 22px;
	height: 13px;
	position: absolute;
	left: 9px;
	top: 8px;
}

.ippt-group .dxjym .bg4 {
	width: 1px;
	height: 13px;
	position: absolute;
	left: 33px;
	top: 8px;
	background: gray;
}

.ippt-group .dxjym .ipt-input-phonecode {
	float: right;
	height: 30px;
	border: none;
	line-height: 30px;
	font-size: 12px;
}

.ippt-group .J_getPhonecode1 {
	float: right;
	width: 86px;
	height: 30px;
	border: 1px solid red;
	border-radius: 3px;
}

.ippt-group .J_getPhonecode1 a {
	padding-left: 12px;
	color: #ff4965;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
}

.registerForm .iipt-group {
	border: 1px solid #e6e6e6;
	position: absolute;
	left: 38px;
	top: 245px;
	width: 328px;
	height: 30px;
}

.registerForm .iipt-group .bg5 {
	background: url(../img/register/register1.jpg) 0px -47px no-repeat;
	width: 22px;
	height: 13px;
	position: absolute;
	left: 9px;
	top: 8px;
}

.registerForm .iipt-group .bg6 {
	width: 1px;
	height: 13px;
	position: absolute;
	left: 33px;
	top: 8px;
	background: gray;
}

.registerForm .iipt-group .J_iptPasswdd {
	position: absolute;
	left: 40px;
	height: 30px;
	border: none;
	line-height: 30px;
	font-size: 12px;
	width: 250px;
}

.registerForm .iipt-group .bg7 {
	background: url(../img/register/register1.jpg) 0px -66px no-repeat;
	width: 22px;
	height: 13px;
	position: absolute;
	left: 308px;
	top: 8px;
}

.registerForm .ipt-btn-area {
	position: absolute;
	left: 38px;
	top: 290px;
	background: #ff4965;
	width: 328px;
	height: 30px;
	border-radius: 3px;
}

.registerForm .ipt-btn-area .ipt-btnn {
	text-decoration: none;
	font-size: 12px;
	color: #ffffff;
	padding-left: 145px;
	height: 30px;
	line-height: 30px;
}

.registerForm .ipt-tip {
	position: absolute;
	left: 38px;
	top: 335px;
	width: 328px;
}

.registerForm .ipt-tip span {
	font-size: 12px;
}

.registerForm .ipt {
	position: absolute;
	left: 38px;
	top: 388px;
	width: 328px;
}

.registerForm .ipt span {
	font-size: 12px;
}

.registerForm .ipt span a {
	text-decoration: none;
	color: #ff4965;
}

.registerForm .ipt-quick {
	position: absolute;
	left: 38px;
	top: 418px;
	width: 328px;
	height: 24px;
}

.ipt-quick .f-fl {
	font-size: 12px;
}

.ipt-quick a.ipt-quick-qq {
	width: 24px;
	height: 24px;
	display: block;
	background: url(../img/register/link-zc.png) no-repeat;
	position: absolute;
	left: 88px;
	top: 0px;
}

.ipt-quick a.ipt-quick-tb {
	width: 24px;
	height: 24px;
	display: block;
	background: url(../img/register/link-zc.png) -59px 0px no-repeat;
	position: absolute;
	left: 122px;
	top: 0px;
}

.ipt-quick a.ipt-quick-wx {
	width: 24px;
	height: 24px;
	display: block;
	background: url(../img/register/link-zc.png) -119px 0px no-repeat;
	position: absolute;
	left: 156px;
	top: 0px;
}

.ipt-quick a.ipt-quick-qq:hover {
	background: url(../img/register/link-zc.png) -29px 0 no-repeat;
}

.ipt-quick a.ipt-quick-tb:hover {
	background: url(../img/register/link-zc.png) -89px 0 no-repeat;
}

.ipt-quick a.ipt-quick-wx:hover {
	background: url(../img/register/link-zc.png) -149px 0 no-repeat;
}